# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
.next/
out/
build/

# Misc
*.log
*.tsbuildinfo
.next-resources/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Temporary
tmp/
temp/

# Secrets - DO NOT commit this file
.env.local

.vercel
